@import "../../../variables";

.headerInnerWrapper {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background: rgba(110, 110, 110, 0.04);
  border-bottom: 1px solid $light-gray;

}
.headerInner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}




