@import "../../../../variables";
@import "../../../../mixin";

.wrapper {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  position: relative;
  cursor: pointer;
  background: rgba(110, 110, 110, 0.04);
  border-bottom: 1px solid $light-gray;
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  & span:hover {
    color: $light-blue;
  }
}

.button {
  @include button-small;
  margin: 30px;
}

.userPhoto {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.userName {
  color: $dark-gray;

  &:after {
    content: "\2228";
    padding: 10px;
    font-size: 12px;
    font-weight: 900;
  }
}


.userHiddenMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 80px;
  left: 20px;
  width: 65%;
  box-shadow: 0 1px 4px 0 rgba(50, 50, 50, .2);

}

.hiddenMenuItem {
  padding: 15px;
  color: $dark-gray;
  text-decoration: none;

  &:hover {
    color: $light-blue;
  }
}

