@import "../../../variables";
@import "../../../mixin";
/*outline: 1px solid red;*/

.messageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea {
    @include text-area;

}
.textarea[placeholder] {
   @include textarea-placeholder;
}

.button {
    @include button-large;
}

