@import "../../../../variables";
/*outline: 1px solid red;*/

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 380px;
  height: 50px;
  position: relative;
}

.input {
  width: 320px;
  height: 50px;
  border-radius: 4px;
  position: relative;
  border: 1px solid $textarea-border;
  background-color: rgba(214, 214, 214, 0.04);
  text-align: start;
  padding-left: 10px;
  outline: 0;

}

.button {
  display: flex;
  justify-content: center;
  width: 45px;
  height: 50px;
  position: absolute;
  background-color: rgba(214, 214, 214, 0.04);
  border: none;
  outline: none;
  padding-right: 30px;
}

.searchImg {
  width: 20px;
}
