@import "../../variables";
@import "../../mixin";

.myPostWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 10px;
  font-size: 28px;
}

.textArea {
  @include text-area;

  &[placeholder] {
    @include textarea-placeholder;
  }
}

.button {
  @include button-large;
}
