@import "../../../variables";


.headerProfile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 80px;
    background: rgba(0, 0, 0, 0.04);
    border-bottom: 1px solid $light-gray;


}

button {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
    border: snow;
    text-transform: uppercase;
    color: white;
    background: $light-blue;
    margin: 0 30px;
}

