@import "../../variables";

.headerWrapper {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background: white;

}



