@import "../../../variables";

//outline: 1px solid red;
.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 55px;

}

.spriteSocial {
    background: url("../../../images/sprite.png") no-repeat;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    transition: transform 0.5s;
}

.spriteSocial:hover {
    transform: scale(1.2);
}
.iconTwitter {
    background-position: -35px 0px;

}
.iconYoutube {
    background-position: 0px -35px;
}