@import "../../../../variables";

.innerWrapper {
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.item {
  text-decoration: none;
  color: $light-blue;

  &:hover {
    color: $dark-gray;
  }
}

