@import "../../../variables";

.postWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PostItem {
  display: flex;
  width: 950px;
  justify-content: space-around;

}

.PostItemImg {
  display: flex;
  align-items: center;
}


.PostItemImg img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 3px solid $light-blue;
}

.PostItemMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 540px;
  height: 150px;
  border-top: 1px solid $light-gray;
}

.PostItemMessage span {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 3%;
}

.PostItemLike {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-top: 1px solid $light-gray;
}

.PostItemLike div {
  color: #f14e56;
}

.PostItemLike span {
  padding-left: 5px;
  font-size: 22px;
  color: $light-blue;
}
