$white: #FFFFFF;
$light-blue: #4dcadd;
$shade-blue: #3f5a7b;
$shade-dark-blue: #30445C;
$dark-gray: #737373;
$light-gray: rgba(170, 170, 170, 0.36);
$textarea-border: rgba(168, 168, 168, 0.28);
$textarea-background: rgba(126, 126, 126, 0.04);
$light-green: #2eca89;