@import "variables";

.appWrapper{
  display: grid;
  grid-template-rows: 80px 880px;
  grid-template-columns: 300px 1100px 280px;
}
.appWrapperHeader{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;

}
.appWrapperSideContent {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: $shade-dark-blue;
}
.appWrapperContent {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  border-right: 1px solid $light-gray;
}
.appWrapperLoginPage {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}





