@import "../../../../variables";


.fullName {
    color: $dark-gray;
}


.descriptionUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
   }

.descriptionUserBiography span:nth-child(1) {
    color: $light-blue;
    font-size: 25px;
}

.descriptionUserBiography :last-child{
    padding-left: 10px;
    color: $dark-gray;
    font-size: 22px;
}

.githubAddress:hover {
    color: $light-green;;
}