@import "../../../variables";


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
    background-color: $shade-dark-blue;
    border-bottom: 2px solid #223344;
    color: $white;
    font-size: 38px;
    font-family: Pacifico, cursive;
    font-weight: 600;
    letter-spacing: -2px;

}


